 
h1{
	padding-left: 40%;

}
.backColorRed{
	background-color: red;
}

.backColorBlue{
	background-color: blue;
}
#Div div{
	display: inline-block;
	position: relative;
	height: 40px;
	width: 40px;
	border: 1px solid black;
	margin-top: -4px

}

#Div1 div{
	display: inline-block;
	position: relative;
	height: 40px;
	width: 40px;
	border: 1px solid black;
	margin-top: -4px
}